.main_container{
          display: flex;
          border-right:  1px solid gray;
          border-bottom:  1px solid gray;
          margin-left:100px;
}
.image{
          height: 250px;
          margin-top: 10px;
}
.text-content{
          margin-left: 10px;
}
.btn{
          background-color: goldenrod;
          width: 250px;
          height: 30px;
          font-size: 20px;
          cursor: pointer;
          border-radius: 5px;
}